* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto sans-serif;
}

/* tipo */

h1 {
  text-align: left;
  color: white;
  font-size: 3em;
  width: 55%;
  position: absolute;
  bottom: 80px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.5em;
  margin-top: 20%;
}

h3 {
  font-size: 2.2em;
  text-align: center;
}
h4 {
  text-align: center;
  color: lime;
}
hr {
 border-color: rgba(100 100 100 0.3);
}
p {
  color: grey;
  margin-top: 10%;
}

header a {
  text-decoration:none;
  color: white;
}

li {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  display: inline-block;
  position: relative;
}
/* /tipo */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  width: 90%;
  margin: auto;
  background-color: rgb(211,211,211);
}

header {
  background-color: rgb(12,50,90);
  height: 300px;
  background-image: url(../img/background-header.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}

.content {
  width: 90%;
  height: 100%;
  margin: auto;
}

nav {
  height: 38px;
}

.logo {
  display: inline-block;
  width: 113px;
  height: 38px;
}

.menu-left, .menu-right {
  font-size: 12px;
  font-weight: 100px;
  margin-left: 20px;
}

div.logo, ul.menu-left {
  float: left;
}

ul.menu-right {
  width: 44%;
  float: right;
  text-align: right;
}

#button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
}

.button-green {
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: lime;
}

section.banner {
  position: relative;
  height: 100%;
}

.pulsante {
  position: absolute;
  bottom: 50px;
}

.consiglio {
  text-align: center;
  padding-top: 20px;
}

.consiglio p {
  color:grey;
  margin: 2%;
}

main {
  width: 100%;
}
/* sezione row */
.row {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.row .colonna {
  width: calc(100% / 3);
  height: 100%;
  float: left;
}
/* /sezione row */
/* colonne */
.colonna img {
  width: 80%;
  height: 30%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.small-line {
  width: 20%;
  margin: auto;
}

.small-line p {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid grey;
  text-align: center;
}

.colonna > p {
  color: grey;
  text-align: center;
  margin-top: 20px;
}
/* /colonne */
/* row 2 */
.col {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
}
.col.mountain {
  background-image: url(../img/mountain.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.al-test {
  width: 70%;
  height: 100%;
}

.link {
  margin-top: 30px;
}
/* /row 2 */
/* footer */
.row-3 {
  background-color: lightgrey;
  height: 30vh;
  width: 100%;
}

.text-centrato {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}

.col .button-green {
  display: inline-block;
  font-size: 15px;
  padding: 3% 3%;
  margin-left: 2%
}

.row-3 .col-2 {
  position: relative;
  margin-top: 5%;
  font-size: 20px;
}
select {
  font-size: 20px;
  padding: 1% 3%;
  border-style: none;
}

.help {
  font-size: 15px;
  position: absolute;
  bottom: 68px;
  right: 183px;
  padding: 10px 10px;
  background-color: lime;
  border-radius: 5px;
}

/* /footer */
